.hoverInfoElement {
  cursor: url("/info_cursor.svg") 5 5, auto;
  height: 100%;
}

.hoverInfoElement:hover .hoverInfoBox {
  display: block;
}

.hoverText {
  position: relative;
  padding-inline: 2vw;
  padding-block: 2vh;
}

.hoverInfoBox {
  z-index: 99;
  position: absolute;
  display: none;
  background: var(--background);
  border: 5px solid #bc894d;
  border-radius: 10px;
  text-wrap: nowrap;
  transform: translateY(-20%);
  padding: 10px;
  text-align: center;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.25);
}

.hoverInfoText {
  width: 100%;
  text-align: justify;
}
