.skillRowContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  height: 7.5vh;
}

.field {
  background-color: var(--dark-green-background);
  border-bottom: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  box-sizing: border-box;
  color: white;
}

.icon {
  flex: 3;
  position: relative;
  object-fit: contain;
  height: 100%;
}

.icon img {
  object-fit: contain;
}

.level {
  text-align: center;
  flex: 1;
  height: 100%;
  aspect-ratio: 1 / 1;
  justify-content: center;
}

.name {
  flex: 6;
  justify-content: center;
}

.progress {
  flex: 10;
  text-align: center;
  height: 80%;
}

.levelContainer {
  height: 80%;
}
