.textContainer {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paddedText {
  padding: 30px;
  overflow-y: auto;
  z-index: 2;
}

.frame {
  position: absolute;
  z-index: 1;
}
