.textContainer {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paddedText {
  margin: 5%;
  overflow-y: auto;
  z-index: 2;
  text-align: justify;
  display: block;
  padding-right: 15px;
}

.frame {
  position: absolute;
  z-index: 1;
}

.custom-scrollbar::-webkit-scrollbar {
  display: block;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--scrollbar-track-text);
  border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-text);
  border-radius: 5px;
  width: 10%;
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin; /* Make the scrollbar thin */
  scrollbar-color: var(--scrollbar-thumb-text) var(--scrollbar-track-text); /* Set thumb and track color */
}

.text {
  display: inline-block;
  padding-right: 15px;
  text-align: justify;
}
