:root {
  --light-brown-accent: #bc894d;
  --dark-brown-accent: #865c2b;

  --background: #c3ae72;
  --dark-green-background: #6f6b53;
  --grey-background: #c6bea6;
  --bright-background: #e3dac1;

  --gold-accent: #e7d95f;
}

.strokedWhiteText {
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: 400;
  paint-order: stroke fill;
}

.strokedWhiteTextHighContrast {
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.85);
  color: white;
  font-weight: 400;
  paint-order: stroke fill;
}

.stoneBackground {
  background-image: url("../../public/background.svg");
  background-size: cover;
  background-position: center;
}

.mainLayout {
  display: grid;
  height: calc(100vh - 30px);
  grid-template-columns: 580fr 1220fr;
  grid-gap: 15px;
}

body {
  margin: 15px;
}
