:root {
  --light-brown-accent: #bc894d;
  --dark-brown-accent: #865c2b;

  --background: #c3ae72;
  --dark-green-background: #6f6b53;
  --grey-background: #c6bea6;
  --bright-background: #e3dac1;

  --gold-accent: #e7d95f;

  --scrollbar-track: #979797;
  --scrollbar-thumb: #d9d9d9;

  --green: #4eb245;
  --orange: #f8d146;
  --grey: #8994ae;
}

.strokedWhiteText {
  -webkit-text-stroke: 2px rgba(0, 0, 0, 0.5);
  color: white;
  paint-order: stroke fill;
}

.strokedWhiteTextHighContrast {
  -webkit-text-stroke: 2px rgb(94 90 71);
  color: white;
  paint-order: stroke fill;
}

.stoneBackground {
  background-image: url("../../public/background.svg");
  background-size: cover;
  background-position: center;
}

.mainLayout {
  display: grid;
  /*this is related to the margin of the body*/
  height: calc(100vh - 2 * calc(min(5vw, 5vh)));
  grid-template-columns: 26.5% 70.5%;
  /*this should be the same as the margin of the body*/
  grid-gap: calc(min(5vw, 5vh));
}

body {
  margin: calc(min(5vw, 5vh));
}

h1 {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  font-weight: 300;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0px;
}

h2 {
  font-style: normal;
  font-size: 32px;
  line-height: 32px;
  font-weight: 300;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0px;
}

h3 {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;

  margin: 0px;
}

span {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 121%;
}
