.layout {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.attributesContainer {
  overflow-x: auto;
  overflow-y: unset;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100%;
  scroll-behavior: smooth;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.custom-scrollbar::-webkit-scrollbar {
  display: block;
  height: 1.5vh;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
  border-radius: 5px;
  margin: 20vw;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 5px;
  width: 10%;
}
