.questlogContainer {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  justify-content: space-between;
  min-height: 100%;
  padding-top: 1vh;
  box-sizing: border-box;
}

.hideScrollBar {
  position: relative;
  overflow-y: scroll;
  padding-inline: 20px;
  padding-bottom: 10px;
  height: 100%;
  box-sizing: border-box;
}

.hideScrollBar::-webkit-scrollbar {
  display: none;
}

.hideScrollBar {
  overflow-y: scroll;
  scrollbar-color: transparent transparent; /* Colors */
}
