.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: space-evenly;
}

.hideScrollBar {
  position: relative;
  overflow-y: scroll;
  scrollbar-width: 10px;
  left: 10px;
}
