.backgroundImage {
  background-color: var(--bright-background);
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  border: 3px solid var(--light-brown-accent);
  border-radius: 10px;
  z-index: 1;
  flex: 1 1 auto;
  overflow: auto;
}
.backgroundImage::-webkit-scrollbar {
  width: 1.25vw;
}

.backgroundImage::-webkit-scrollbar-track {
  box-shadow: inset 0 0 20px 20px var(--scrollbar-track-text);
  border-radius: 59999px;
  border: solid 0.25vw transparent;
}

.backgroundImage::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px var(--dark-green-background);
  border-radius: 599999px;
  border: solid 0.25vw transparent;
}

@-moz-document url-prefix() {
  /* For Firefox */
  .backgroundImage {
    scrollbar-width: thin; /* Make the scrollbar thin */
    scrollbar-color: var(--scrollbar-track-text) transparent; /* Thumb and track color */
  }
}
