.backgroundImage {
  background-color: var(--bright-background);
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  border: 3px solid var(--light-brown-accent);
  border-radius: 10px;
  z-index: 1;
  flex: 1 1 auto;
  overflow: auto;
}
