.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.nameRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 40px;
  width: 100%;
  flex: 1;
}

.levelRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 40px;
  width: 100%;
  flex: 2;
}

.nameTitle {
  color: #000000;
  flex: 1;
}

.field {
  background: #6f6b53;
  box-shadow: 0px 4px 0px #e3dac1;
  margin-bottom: 7px;
  border-radius: 5px 5px 0px 0px;
  justify-content: center;
  flex: 3;
}

.uglyFaceContainer {
  position: relative;
  height: 100%;
  margin-inline: 20px;
  flex: 7;
}
