.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  gap: 1%;
}

.levelRow {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

.levelTitle {
  color: #000000;
}

.title {
  color: #000000;
  flex: 1;
}

.field {
  padding-bottom: 4px;
  background: #6f6b53;
  box-shadow: inset 0px -4px 0px #e3dac1;
  border-radius: 5px 5px 0px 0px;
  justify-content: center;
  height: -moz-fit-content;
  height: fit-content;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.row > :first-child {
  flex: 1;
  justify-content: start;
}

.row > :nth-child(2) {
  flex: 2;
}

.fieldsContainer {
  flex: 3 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.uglyFaceContainer {
  flex: 5 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.uglyFace {
  position: relative;
  width: 85%;
  height: 80%;
  border-radius: 10px;
}

.buttonStyle {
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--bright-background);
  border-style: solid;
  border-color: var(--light-brown-accent);
  border-width: medium;
  color: var(--dark-brown-accent);
  position: relative;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding-inline: 7%;
}

.downloadCV {
  display: flex;
  justify-content: center;
}
