.layout {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.content {
  height: 100%;
  flex: 13;
}

.navigationArrow {
  filter: drop-shadow(5px 10px 4px rgba(0, 0, 0, 0.25));
  transition: filter 0.2s ease, transform 0.2s ease;
  cursor: pointer;
  position: absolute;
  width: 45px;
  height: 45px;
}

.leftCenter {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.leftCenter:hover {
  filter: brightness(70%) drop-shadow(5px 10px 4px rgba(0, 0, 0, 0.25));
}

.leftCenter:active {
  filter: brightness(70%) drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.25));
  transform: translate(-55%, -45%);
}

.rightCenter {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%) scaleX(-1);
  z-index: 1;
}

.rightCenter:hover {
  filter: brightness(70%) drop-shadow(5px 10px 4px rgba(0, 0, 0, 0.25));
}

.rightCenter:active {
  filter: brightness(70%) drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.25));
  transform: translate(55%, -45%) scaleX(-1);
}

.heading {
  background-image: url("/heading_background.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  justify-content: center;
  flex: 1;
}
