.layout {
  height: inherit;
  display: flex;
  flex-direction: column;
  position: relative;
}

.content {
  scrollbar-width: none;
  overflow: scroll;
  height: inherit;
  scroll-behavior: smooth;
  padding-inline: 15px;
  padding-bottom: 5px;
}

.navigationArrow {
  filter: drop-shadow(5px 10px 4px rgba(0, 0, 0, 0.25));
  transition: filter 0.2s ease, transform 0.2s ease;
  cursor: pointer;
  position: absolute;
  width: 45px;
  height: 45px;
}

.leftCenter {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.leftCenter:hover {
  filter: brightness(70%) drop-shadow(5px 10px 4px rgba(0, 0, 0, 0.25));
}

.leftCenter:active {
  filter: brightness(70%) drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.25));
  transform: translate(-55%, -45%);
}

.rightCenter {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translate(50%, -50%) scaleX(-1);
  z-index: 1;
}

.rightCenter:hover {
  filter: brightness(70%) drop-shadow(5px 10px 4px rgba(0, 0, 0, 0.25));
}

.rightCenter:active {
  filter: brightness(70%) drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.25));
  transform: translate(55%, -45%) scaleX(-1);
}

.heading {
  position: relative;
  padding-inline: 15px;
  padding-block: 5px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}

.heading h2 {
  position: relative;
  z-index: 2;
}

.heading svg {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
