.section {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  padding: 20px;
}

.content {
  position: relative;
  z-index: 1;
  padding: 20px;
}

.corners div {
  position: absolute;
  width: 2vw;
  height: 2vw;
}

.top-left {
  top: calc(2vw * -0.3);
  left: calc(2vw * -0.3);
}

.top-right {
  top: calc(2vw * -0.3);
  right: calc(2vw * -0.3);
  transform: scaleX(-1); /* Flip horizontally */
}

.bottom-left {
  bottom: calc(2vw * -0.3);
  left: calc(2vw * -0.3);
  transform: scaleY(-1); /* Flip vertically */
}

.bottom-right {
  bottom: calc(2vw * -0.3);
  right: calc(2vw * -0.3);
  transform: rotate(180deg); /* Rotate 180 degrees */
}

.section nav {
  height: 0px;
}
